{% extends 'base.html'%}

{% block title %} {{ category|title }} Tafsilotlar {% endblock %}

{% block content %}
 <div class="news-item">
     <a href="{% url 'home' %}" class="read-more">Back to Home</a>
 </div>

    <div class="container">
        <article class="news-detail">
            <h2>{{ category|title }} Sarlavhasi</h2>
            <p class="news-meta">Sana:{{ articles.date|date:"Y~m~d" }} | Muallif:{{ articles.auther_name }}</p>
            <div class="news-content">
                <p>{{ articles.long_content }}</p>
            </div>
        </article>
    </div>
{% endblock %}