{% extends 'base.html' %}

{% block title%}{{ category|title }} Yangiliklari{% endblock %}

{% block content %}
    <h2 id="category-title">{{ category|title }} Yangiliklari</h2>
    <div id="news-list">
        {% for article in articles %}
            <div class="news-item">
                <h3>{{ article.title }}</h3>
                <p>{{ article.short_content }}</p>
                <a href="{{ article.get_detail_url }}" class="read-more">Batafsil</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}